
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


#con{
  margin-top: 130px;
}
#back{
  background: linear-gradient(#ffafbd,#ffc3a0);
}
#dash{
  background: linear-gradient(#ffafbd,#ffc3a0);
}
#item{
 margin-left: 45px;
}

#signup{
  margin-left: 15px;
}
#clear{
  margin-left: 20px;
}

#option{
margin-right: 175px;
}

#code{
  position: absolute;
  height: 20px;
  width:30px;
  margin-top: 135px;
  margin-right: 300px;
}

#text{
  position: absolute;
  margin-top: 15px;
  margin-left: 70px;
}

