
.color{
    --tw-text-opacity: 1;
    color: rgb(251 113 133 / var(--tw-text-opacity));
}
.white{
    color: white;
}
.button{
    --tw-text-opacity: 1;
    color: rgb(251 113 133 / var(--tw-text-opacity));
    display: inline-block;
    padding-left: 3rem;
    padding-right: 3rem; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
    border-width: 2px;
    border-color: white;
    border-radius: 9999px;

}
.button:hover{
    --tw-text-opacity: 1;
    color: rgb(251 113 133 / var(--tw-text-opacity));
    background-color: white;

}

.pagebutton:hover{
    --tw-text-opacity: 1;
    background-color: rgb(251 113 133 / var(--tw-text-opacity));
    color: white;
}
.pagebutton{
    --tw-text-opacity: 1;
    color: rgb(251 113 133 / var(--tw-text-opacity));
    display: inline-block;
    padding-left: 3rem;
    padding-right: 3rem; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
    border-width: 2px;
    margin-left: 0.75rem;
    border-color: rgb(251 113 133 / var(--tw-text-opacity));
    border-radius: 9999px;

}

.signupbutton:hover{
    --tw-text-opacity: 1;
    color: rgb(251 113 133 / var(--tw-text-opacity));
    background-color: white;
}
.signupbutton{
    color: white;
    display: inline-block;
    padding-left: 3rem;
    padding-right: 3rem; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
    border-width: 2px;
    margin-left: 0.75rem;
    border-color: white;
    border-radius: 9999px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.signup{
    width:40%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-top: 9rem;
    padding-bottom: 9rem;
    padding-left: 3rem;
    padding-right: 3rem;
    --tw-bg-opacity: 1;
    background-color: rgb(251 113 133 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.headertext{
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    --tw-text-opacity: 1;
    color: rgb(251 113 133 / var(--tw-text-opacity));
}
.headertext1{
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: white;
}
.headertext2{
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    margin-left: 200px;
    margin-top: 50px;
    --tw-text-opacity: 1;
    color: rgb(251 113 133 / var(--tw-text-opacity));
}
.headertext3{
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    position: absolute;
    margin-left: 560px;
    --tw-text-opacity: 1;
    color: rgb(251 113 133 / var(--tw-text-opacity));
}
.headertext4{
    font-size: 1.875rem;
    font-weight: 700;
    margin-left: 125px;
    --tw-text-opacity: 1;
    color: rgb(251 113 133 / var(--tw-text-opacity));
}
.underline{
    border-width: 2px;
    width:2.5rem;
    display:inline-block;
    margin-bottom: 0.5rem;
    --tw-text-opacity: 1;
    border-color: rgb(251 113 133 / var(--tw-text-opacity));
}

.divider{
    clear: both;
    height: 1px;
    min-height: 0;
    margin: 30px auto;
    padding: 0;
    text-align: center;
    color: #181414;
    border: none;
    border-top: medium double #999;
    width:100%
}
 
.underline1{
    border-width: 2px;
    width:2.5rem;
    display:inline-block;
    margin-bottom: 0.5rem;
    color: white;
}

.link{
    border-width: 2px;
    border-radius: 9999px;
    padding: 0.75rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.textsize{
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
}
.tabs{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-bottom: 300px;
    width: 150px;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1 1 0%;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
    margin-bottom: 5rem;
}
.main1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1 1 0%;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
}

.main2{
    display: flex;
    flex-direction: column;
    border-right-width: 1px;
    width: 130px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;

}

.content{
    display: flex;
    margin-bottom: 130px;
    flex-direction: column;
}
.input{
    display: flex;
    width: 16rem;
    align-items: center;
    margin-bottom: 0.75rem;
    padding: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.input1{
    display: flex;
    width: 16rem;
    align-items: center;
    margin-bottom: 0.75rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.input2{
    display: flex;
    width: 16rem;
    align-items: center;
    margin-bottom: 5rem;
    padding: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.input3{
    display: flex;
    width: 16rem;
    align-items: center;
    margin-bottom: 3rem;
    padding: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.profileButton{
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    position: absolute;
    font-weight: 600;
    line-height: 10px;
    border-radius: 8px;
    font-size: 14px;
    height: 38px;
    margin-top: 400px;
    margin-left: 1300px;
    background:red;
    color: white;
    padding: 0 20px;
  }

  .profileButton1{
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    position: absolute;
    font-weight: 600;
    line-height: 10px;
    border-radius: 8px;
    font-size: 14px;
    height: 38px;
   
    margin-left: 1300px;
    background:linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);;
    color: white;
    padding: 0 20px;
  }

.input4{
    display: flex;
    width: 16rem;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}


.card{
    border-radius: 1rem;
    display: flex;
    width:66.666667%;
    max-width: 56rem;
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.card1{
    border-radius: 1rem;
    display: flex;
    width: 75%;
    max-width: 42rem;
    --tw-bg-opacity: 1;
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
.card2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100%;
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.align{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.align1{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.align2{
    display: flex;
    justify-content: space-between;
    width: 16rem;
    margin-bottom: 1.25rem;
}

.align3{
width: 80%;
padding: 1.25rem;
}

.icon{
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
    margin-right: 0.20rem;
}

.in{
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
    margin-right: 0.25rem;
}

.dashboard{
    position: fixed;
    height: 5rem;
    width: 100%;
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    margin-top: 0.75rem;
    background-color: transparent;
}

.label{
    position: absolute;
    margin-left: 500px;
    margin-top: 5px;
}
.label1{
    position: absolute;
    margin-left: 500px;
    margin-top: 55px;
}
.label2{
    position: absolute;
    margin-left: 500px;
    margin-top: 105px;
}
.label3{
    position: absolute;
    margin-left: 500px;
    margin-top: 150px;
}
.label4{
    position: absolute;
    margin-left: 500px;
    margin-top: 200px;
}

.popup{
position: fixed;
top:0;
left: 0;
width: 100%;
height:100vh;
background-color: transparent;
display: flex;
justify-content: center;
align-items: center;
}

.popupInner{
position: relative;
padding: 32px;
width: 100%;
max-width: 640px;
background-color: silver;
}

.removepopup{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height:80vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
.removepopupInner{
    position: relative;
    padding: 70px 0px 70px;
    width: 100%;
    max-width: 440px;
    background-color: silver;
 }

.close{
position: absolute;
top:10px;
left:300px; 
cursor: pointer;
}
.clear{
    position: absolute;
    top:10px;
    left:285px; 
    cursor: pointer;
    
}
.save{
    position: absolute;
    top:10px;
    left: 270px;
    cursor: pointer;  
    }

.states{
    width: 130px;
    height: 30px;
}

.yes{
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    position: absolute;
  
    font-weight: 600;
    line-height: 10px;
    border-radius: 8px;
    font-size: 14px;
    margin-left: 150px;
    height: 38px;
    background:linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);;
    color: white;
    padding: 0 20px;
}

.no{
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    position: absolute;
    
    font-weight: 600;
    line-height: 10px;
    border-radius: 8px;
    font-size: 14px;
    margin-left: 230px;
    height: 38px;
    background:linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);;
    color: white;
    padding: 0 20px;
}