.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.main1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1 1 0%;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
}

.card1{
    border-radius: 1rem;
    display: flex;
    width: 75%;
    max-width: 42rem;
    --tw-bg-opacity: 1;
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.align3{
    width: 80%;
    padding: 1.25rem;
}

.headertext{
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    --tw-text-opacity: 1;
    color: rgb(251 113 133 / var(--tw-text-opacity));
}

.underline{
    border-width: 2px;
    width:2.5rem;
    display:inline-block;
    margin-bottom: 0.5rem;
    --tw-text-opacity: 1;
    border-color: rgb(251 113 133 / var(--tw-text-opacity));
}

.align{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input3{
    display: flex;
    width: 16rem;
    align-items: center;
    margin-bottom: 3rem;
    padding: 0.5rem;
    --tw-bg-opacity: 1;
}

.in{
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
    margin-right: 0.25rem;
}

.pagebutton:hover{
    --tw-text-opacity: 1;
    background-color: rgb(251 113 133 / var(--tw-text-opacity));
    color: white;
}
.pagebutton{
    --tw-text-opacity: 1;
    color: rgb(251 113 133 / var(--tw-text-opacity));
    display: inline-block;
    padding-left: 3rem;
    padding-right: 3rem; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
    border-width: 2px;
    margin-left: 0.75rem;
    border-color: rgb(251 113 133 / var(--tw-text-opacity));
    border-radius: 9999px;

}

.signupbutton:hover{
    --tw-text-opacity: 1;
    color: rgb(251 113 133 / var(--tw-text-opacity));
    background-color: white;
}
.signupbutton{
    color: white;
    display: inline-block;
    padding-left: 3rem;
    padding-right: 3rem; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
    border-width: 2px;
    margin-left: 0.75rem;
    border-color: white;
    border-radius: 9999px;
}

.input{
    display: flex;
    width: 16rem;
    align-items: center;
    margin-bottom: 0.75rem;
    padding: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}